html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.navbar {
  font-size: 1.2rem;
}

.navbar-dark {
  background-color: #262120 !important;
}

.nav-item {
  padding-right: 50px;
}

.modal-dialog {
  color: #000000;
}

.portfolio-section-spacer {
  height: 52px;
}

.portfolio-section {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.section-title {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

#AboutSection {
  min-height: 100vh;
  background: url(/images/Portland_Office_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #d7ebff;
}

.about-section-name {
  height: 25vh;
  padding-top: 70px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: 1.7rem;
}

.about-section-job-title {
  color: #656e79;
  font-size: 1.1rem;
}

.about-section-links {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

.about-section-link {
  padding: 0px 0px 0px 20px;
  color: #d7ebff;
}

.about-section-description {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
  .about-section-description {
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  /* .about-section-name {
    padding-top: 50px;
  } */

  .about-section-description {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  }
}

#ExperienceSection {
  min-height: 100vh;
  background-color: white;
  color: #303030;
}

.experience-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.experience-description {
  font-size: 1.2rem;
  padding: 10px 30px 80px 50px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  /*max-width: 1500px;*/
  justify-content: center;
  margin: auto;
}

#WorkSection .portfolio-section {
  background-image: linear-gradient(to top right, #a0978e, #f3ece1);
  color: black;
}

.projects-group-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
}

#FooterSection {
  height: 100px;
  padding-top: 10px;
  text-align: center;
  background-color: #262120;
  font-size: 3rem;
}

#FooterSection i {
  color: white;
}
