html {
  scroll-behavior: smooth;
}

.modal-dialog {
  color: #000000;
}

.PortfolioSection {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 60px;
}

.SectionTitle {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#AboutSection {
  min-height: 100vh;
  background: url(/images/Portland_Office_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #d7ebff;
}

.aboutSectionName {
  height: 40vh;
  padding-top: 150px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.aboutSectionJobTitle {
  color: #656e79;
}

.aboutSectionDescription {
  padding-left: 20%;
  padding-right: 20%;
  font-size: large;
}

@media screen and (min-width: 1000px) {
  .aboutSectionDescription {
    text-align: justify;
  }
}

@media screen and (max-width: 999px) {
  .aboutSectionName {
    padding-top: 120px;
  }

  .aboutSectionDescription {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#SkillsSection {
  min-height: 100vh;
  background-color: white;
  color: #303030;
}

#WorkSection {
  /* background: url(/images/Portland_Office_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-image: linear-gradient(to top right, #47423d, #8f7c5b);
  color: white;
}

.ProjectsGroupContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.navbar-dark {
  background-color: #262120 !important;
}
